.main {
    text-align: center;
    background-color: $light_mint;
    color: $dark_mint;
    padding: #{$component_padding} 1rem;
    margin: 0;

    h1 {
        font-size: 5.4rem;
        font-weight: 700;

        @media #{$small} {
            font-size: 7.4rem;
        }

        @media #{$medium} {
            font-size: 8.4rem;
        }
    }

    h2 {
        font-size: 4.4rem;
        font-weight: 300;
        margin-bottom: .25rem;

        @media #{$small} {
            font-size: 5.4rem;
        }

        @media #{$medium} {
            font-size: 6.4rem;
        }
    }
}