.about {

  & > div {
    max-width: 250px;
    margin: 0 auto;

    @media(min-width: 768px) {
      margin: 1rem 0;
    }
  }

  p {
    margin: 1rem;
    font-size: 2rem;
  }

  img {
    border-radius: 50%;
  }

  @media(min-width: 768px) {
    display: grid;
    grid-template-columns: 25rem auto;
    grid-column-gap: 2rem;
  }
}