*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
    box-sizing: border-box;
    color: $black;
    font-size: 1.6rem;
    line-height: 1.6;
  }

.container {
    margin: 2rem auto !important;
}

p {
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
}