*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
    box-sizing: border-box;
    color: $black;
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Quattrocento Sans', sans-serif;
  }

.container {
    margin: 2rem auto !important;
}

p {
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h2 {
  font-size: 6.2rem;
  font-weight: 300;
  color: $dark_mint;
}