.socialIcons {
    display: flex;
    justify-content: center;

    a {
        margin: 2rem;
        color: $dark_mint;
        font-size: 4rem;

        @media(min-width: 48.1em) {
            font-size: 5rem;
        }
        
        @media(min-width: 76.8em) {
            font-size: 6rem;
        }
    }
}

