.socialIcons {
    display: flex;
    justify-content: center;
    
    a {
        margin: 2rem;
        /* Fairy Gates Typography theme uses background-image to underline a tags */
        background-image: none; 
    }
}

