.socialIcons {
    display: flex;
    justify-content: center;

    a {
        margin: 2rem;
        color: $dark_mint;
        font-size: 4rem;

        @media #{$small} {
            font-size: 5rem;
        }      
    }
}

